div {
  &.address-presentational {
    margin: auto;
    text-align: center;
    border: 1px solid #4ef18f;
    padding: 10px;
    margin: 10px;
  }

  &.contact {
    float: left;
    width: 50%;
    &.partner {
      float: right;
    }
  }
}
