<ng-container *ngIf="addresses$ | async as addresses">
  <button *ngIf="addresses.length === 0; else showAddresses" (click)="loadAddresses()">
    Adressen ophalen
  </button>
  <ng-template #showAddresses>
    <button (click)="addAddress()">Adres toevoegen</button>
      <ng-container *ngFor="let address of addresses">
          <app-address-presentational [address]="address" (deleteAddress)="deleteAddress($event)"></app-address-presentational>
      </ng-container>
  </ng-template>
</ng-container>
