<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-fields-div">
    <div class="field-container">
      <input type="text" formControlName="straatnaam" class="field" placeholder="straatnaam" />
      <label class="floating-label">
        Straatnaam
      </label>
      <div class="field-underline"></div>
    </div>
    <div class="field-container">
      <input type="text" formControlName="huisnummer" class="field" placeholder="huisnummer" />
      <label class="floating-label">
        Huisnummer
      </label>
      <div class="field-underline"></div>
    </div>
    <div class="field-container">
      <input type="text" formControlName="huisnummerToevoeging" class="field" placeholder="huisnummer toevoeging" />
      <label class="floating-label">
        Huisnummer toevoeging
      </label>
      <div class="field-underline"></div>
    </div>
  </div>

  <div class="form-fields-div">
    <div class="field-container">
      <input type="text" formControlName="postcode" class="field" placeholder="postcode" maxlength="7"/>
      <label class="floating-label">
        Postcode
      </label>
      <div class="field-underline"></div>
    </div>
    <div class="field-container">
      <input id="plaatsnaam" type="text" formControlName="plaatsnaam" class="field" placeholder="plaatsnaam" />
      <label class="floating-label">
        Plaatsnaam
      </label>
      <div class="field-underline"></div>
    </div>
  </div>

  <div class="form-fields-div">
    <div class="field-container">
      <input id="voornaam" type="text" formControlName="voornaam" class="field" placeholder="voornaam" />
      <label class="floating-label">
        Voornaam
      </label>
      <div class="field-underline"></div>
    </div>
    <div class="field-container">
      <input id="achternaam" type="text" formControlName="achternaam" class="field" placeholder="achternaam" />
      <label class="floating-label">
        Achternaam
      </label>
      <div class="field-underline"></div>
    </div>
  </div>

  <div class="form-fields-div">
    <div class="field-container">
      <input id="leeftijd" type="text" formControlName="leeftijd" class="field" placeholder="leeftijd" />
      <label class="floating-label">
        Leeftijd
      </label>
      <div class="field-underline"></div>
    </div>
  </div>

  <div class="form-fields-div">
    <div class="field-container">
      <input id="telefoonnummer" type="text" formControlName="telefoonnummer" class="field"
        placeholder="telefoonnummer" />
      <label class="floating-label">
        Telefoonnummer
      </label>
      <div class="field-underline"></div>
    </div>
  </div>

  <div *ngIf="invalidFormOnSubmit">Vul eerst alle velden correct in</div>
  <button class="button" type="submit">Adres toevoegen</button>
</form>